<span id="user_id" hidden>{{user.ID}}</span>

<div id="formContainer">
  <br>
  <p>
    Welcome to the <strong>Ethical Eats</strong> site built as part of the CS361 F2020 team project by <i>The Coasters</i>
    <hr>
    Ethical eating, which is a type of ethical consumerism, refers to the moral consequences of food choices made by people in their meals.
    The most common concerns are damage to the environment, exploitive labor practices, food shortages,inhumane treatment of animals among others.
  </p>
  <p>
    If you would like your meals to be environmentally conscious, you must pay attention to the impact of it's involvement in the food system.
    Ethical eating recognizes the moral consequences of each ingredient in the recipe.
    <br><br>
    Ethical eating also means you should be mindful that your ingredients are sourced from institutions that pay fair wages to their labor.
    Institutions that have laws against child-labor, hazard conditions etc. should only be chosen.
  </p>
  
  <hr>
  <p>
    The team has used many sources to come up with the alternatives for the ingredients available for use. Eg.
    <ul>
      <li><a href="https://www.npr.org/sections/thesalt/2017/02/27/517531611/whats-the-environmental-footprint-of-a-loaf-of-bread-now-we-know" target="_blank">NPR</a></li>
      <li><a href="https://www.independent.co.uk/environment/rice-farming-climate-change-global-warming-india-nitrous-oxide-methane-a8531401.html" target="_blank">Independent.co.uk</a></li>
      <li><a href="https://www.sustainweb.org/foodfacts/carrot_fashion/" target="_blank">sustainweb.org</a></li>
      <li><a href="https://www.canr.msu.edu/news/growing_a_variety_of_flowering_plants_helps_bees_and_other_beneficial_insec" target="_blank">Michigan State University</a></li>
      <li><a href="https://www.uua.org/environment/eating" target="_blank">UUA</a></li>
    </ul>
  </p>
  <hr>
  <p>
    Click the link below to create a new recipe using and check if your meal uses any ingredients that can be substituted for an ethical alternative.
    <br><br>
    <a href="/build_recipe">Create new recipe<a>
  </p>
<div>
