

<div class=modal>
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h1>Bad Broccoli</h1>
        <p class="ingredientDescription">Broccoli is unethical because it is bad</p>
        <ul>
            <h2>Reasons why broccoli is bad</h1>
                <li>It is green</li>
                <li>It is like a little tree</li>
                <li>I don't actually hate broccoli</li>
        </ul>
        <div class="ethicalAlternatives" id="ethicalAltList">Alternatives</div>
    </div>
</div>

<div>Click on the ingredients to see more information!</div>

<div id="recipeContainer">
    <section class="recipeTitle">
        <div class="recipeTitleHeader">Tasty Recipe</div>
        <div class="foodPic"></div>
    </section>

    <section class="recipeIngredient">
        <div class="ingredientHeader" id="ingredientList">Recipe Ingredients</div>
    </section>

    <section class="recipeInstruction">
        <div class="instructionHeader">Instructions</div>
        <ol class="recipeInstructionOl">
            <li class="instruction">instruction 1</li>
            <li class="instruction">instruction 2</li>
            <li class="instruction">instruction 3</li>
            <li class="instruction">instruction 4</li>
            <li class="instruction">instruction 5</li>
            <li class="instruction">instruction 6</li>
        </ol>
    </section>
</div>
